<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is required to show your weather</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is required to show your weather</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is required to show your weather</string>
	<key>NSLocationUsageDescription</key>
	<string>Your location is required to show your weather</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Read weather from your devices</string>
</dict>
</plist>
